Run the following line if you don't have any of the libraries

In [1]:
%%bash
pip install statsmodels pandas numpy

Requirement already satisfied: statsmodels in c:\users\ivanl\appdata\local\programs\python\python37\lib\site-packages (0.11.1)
Requirement already satisfied: pandas in c:\users\ivanl\appdata\local\programs\python\python37\lib\site-packages (0.25.3)
Requirement already satisfied: numpy in c:\users\ivanl\appdata\roaming\python\python37\site-packages (1.18.1)
Requirement already satisfied: patsy>=0.5 in c:\users\ivanl\appdata\local\programs\python\python37\lib\site-packages (from statsmodels) (0.5.1)
Requirement already satisfied: scipy>=1.0 in c:\users\ivanl\appdata\roaming\python\python37\site-packages (from statsmodels) (1.4.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\ivanl\appdata\local\programs\python\python37\lib\site-packages (from pandas) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\ivanl\appdata\local\programs\python\python37\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six in c:\users\ivanl\appdata\roaming\python\python37\site-packages (from patsy>=0.5->statsmodels) (1.13.0)

WARNING: You are using pip version 19.2.3, however version 20.0.2 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [2]:
import pandas as pd

import data_prep

In [4]:
data_prep.get_lagged("./data/XLE_energy_etf.csv", n=3)

,Open,High,Low,Close,Adj Close,Volume,Adj Close_1,Adj Close_2,Adj Close_3
Date,,,,,,,,,
2010-01-04,57.919998,58.810001,57.790001,58.810001,44.789688,16928400,NaN,NaN,NaN
2010-01-05,58.889999,59.410000,58.619999,59.290001,45.155247,17368100,44.789688,NaN,NaN
2010-01-06,59.320000,60.180000,59.189999,60.000000,45.695988,24351900,45.155247,44.789688,NaN
2010-01-07,59.740002,60.009998,59.299999,59.910000,45.627445,17449500,45.695988,45.155247,44.789688
2010-01-08,59.700001,60.349998,59.490002,60.299999,45.924469,13344300,45.627445,45.695988,45.155247
...,...,...,...,...,...,...,...,...,...
2020-03-16,27.950001,31.120001,27.670000,27.809999,27.809999,40233600,32.189999,29.469999,33.669998
2020-03-17,28.080000,29.180000,26.950001,28.000000,28.000000,45443600,27.809999,32.189999,29.469999
2020-03-18,26.040001,26.580000,22.879999,23.980000,23.980000,52135800,28.000000,27.809999,32.189999
2020-03-19,24.330000,25.709999,22.980000,25.610001,25.610001,52226500,23.980000,28.000000,27.809999
2020-03-20,26.260000,26.840000,24.760000,25.860001,25.860001,58313200,25.610001,23.980000,28.000000