Run the following line if you don't have any of the libraries

In [1]:
%%bash
pip install statsmodels pandas numpy

Requirement already satisfied: statsmodels in /Users/cedric/anaconda3/lib/python3.7/site-packages (0.9.0)
Requirement already satisfied: pandas in /Users/cedric/anaconda3/lib/python3.7/site-packages (0.24.2)
Requirement already satisfied: numpy in /Users/cedric/anaconda3/lib/python3.7/site-packages (1.16.2)
Requirement already satisfied: pytz>=2011k in /Users/cedric/anaconda3/lib/python3.7/site-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.5.0 in /Users/cedric/anaconda3/lib/python3.7/site-packages (from pandas) (2.8.0)
Requirement already satisfied: six>=1.5 in /Users/cedric/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.5.0->pandas) (1.12.0)

In [2]:
import pandas as pd

import data_prep

In [3]:
data_prep.get_lagged("./data/XLE_energy_etf.csv", n=3)

,Open,High,Low,Close,Adj Close,Volume,Adj Close_1,Adj Close_2,Adj Close_3
Date,,,,,,,,,
2010-01-04,57.919998,58.810001,57.790001,58.810001,44.789688,16928400,NaN,NaN,NaN
2010-01-05,58.889999,59.410000,58.619999,59.290001,45.155247,17368100,44.789688,NaN,NaN
2010-01-06,59.320000,60.180000,59.189999,60.000000,45.695988,24351900,45.155247,44.789688,NaN
2010-01-07,59.740002,60.009998,59.299999,59.910000,45.627445,17449500,45.695988,45.155247,44.789688
2010-01-08,59.700001,60.349998,59.490002,60.299999,45.924469,13344300,45.627445,45.695988,45.155247
2010-01-11,60.689999,60.869999,59.730000,60.220001,45.863533,19459900,45.924469,45.627445,45.695988
2010-01-12,59.299999,59.709999,59.040001,59.349998,45.200943,21510600,45.863533,45.924469,45.627445
2010-01-13,59.320000,59.799999,58.520000,59.570000,45.368496,22137500,45.200943,45.863533,45.924469
2010-01-14,59.560001,59.889999,59.330002,59.740002,45.497967,15545400,45.368496,45.200943,45.863533
2010-01-15,59.669998,59.799999,58.849998,59.259998,45.132393,19055200,45.497967,45.368496,45.200943
2010-01-19,59.099998,59.900002,58.990002,59.799999,45.543663,14613100,45.132393,45.497967,45.368496
2010-01-20,59.160000,59.160000,58.419998,58.869999,44.835384,15641700,45.543663,45.132393,45.497967
2010-01-21,58.919998,59.099998,57.529999,57.669998,43.921459,25206600,44.835384,45.543663,45.132393
2010-01-22,57.389999,57.720001,56.139999,56.299999,42.878063,23028600,43.921459,44.835384,45.543663
2010-01-25,56.680000,57.220001,56.490002,56.669998,43.159855,15901200,42.878063,43.921459,44.835384
2010-01-26,56.200001,57.299999,55.919998,56.310001,42.885681,21515300,43.159855,42.878063,43.921459
2010-01-27,56.150002,56.650002,55.180000,56.090000,42.718128,26616700,42.885681,43.159855,42.878063
2010-01-28,56.500000,56.619999,54.799999,55.500000,42.268795,34430700,42.718128,42.885681,43.159855
2010-01-29,55.910000,56.459999,54.220001,54.500000,41.507175,32802700,42.268795,42.718128,42.885681
2010-02-01,55.150002,56.310001,55.110001,56.299999,42.878063,21813300,41.507175,42.268795,42.718128
2010-02-02,56.509998,57.139999,56.049999,57.040001,43.441639,22250800,42.878063,41.507175,42.268795
2010-02-03,56.880001,57.349998,56.419998,56.549999,43.068459,19749300,43.441639,42.878063,41.507175
2010-02-04,56.099998,56.119999,54.200001,54.230000,41.301559,37173200,43.068459,43.441639,42.878063
2010-02-05,54.220001,54.480000,52.669998,54.240002,41.309162,46378400,41.301559,43.068459,43.441639
2010-02-08,54.250000,54.889999,53.730000,53.740002,40.928360,24115100,41.309162,41.301559,43.068459
2010-02-09,54.480000,55.560001,54.310001,54.869999,41.788967,33558100,40.928360,41.309162,41.301559
2010-02-10,54.889999,54.980000,53.779999,54.639999,41.613800,24182300,41.788967,40.928360,41.309162
2010-02-11,54.529999,55.689999,54.290001,55.570000,42.322102,22944500,41.613800,41.788967,40.928360
2010-02-12,54.900002,55.619999,54.540001,55.590000,42.337337,19833900,42.322102,41.613800,41.788967
2010-02-16,56.299999,57.099998,56.240002,56.900002,43.335030,19834900,42.337337,42.322102,41.613800
...,...,...,...,...,...,...,...,...,...
2020-02-07,53.950001,54.209999,53.700001,53.980000,53.980000,13693300,54.360001,54.919998,52.930000
2020-02-10,53.700001,53.830002,53.380001,53.709999,53.709999,14640600,53.980000,54.360001,54.919998
2020-02-11,54.439999,54.520000,54.070000,54.310001,54.310001,13844600,53.709999,53.980000,54.360001
2020-02-12,55.119999,55.349998,54.590000,55.040001,55.040001,17199800,54.310001,53.709999,53.980000
2020-02-13,54.889999,55.180000,54.549999,54.869999,54.869999,11974900,55.040001,54.310001,53.709999
2020-02-14,55.060001,55.099998,54.240002,54.580002,54.580002,12520000,54.869999,55.040001,54.310001
2020-02-18,54.099998,54.570000,53.630001,54.130001,54.130001,16314700,54.580002,54.869999,55.040001
2020-02-19,54.490002,55.070000,54.189999,54.849998,54.849998,12455400,54.130001,54.580002,54.869999
2020-02-20,54.990002,55.400002,54.650002,54.790001,54.790001,13050800,54.849998,54.130001,54.580002
2020-02-21,54.270000,54.320000,53.689999,54.139999,54.139999,13808200,54.790001,54.849998,54.130001
2020-02-24,52.099998,52.400002,51.480000,51.639999,51.639999,33037500,54.139999,54.790001,54.849998
2020-02-25,51.779999,51.820000,49.040001,49.360001,49.360001,42837300,51.639999,54.139999,54.790001
2020-02-26,49.540001,49.779999,47.849998,47.869999,47.869999,48828300,49.360001,51.639999,54.139999
2020-02-27,46.630001,47.529999,45.290001,45.310001,45.310001,61278700,47.869999,49.360001,51.639999
2020-02-28,43.880001,45.840000,43.520000,45.270000,45.270000,68764400,45.310001,47.869999,49.360001
2020-03-02,46.279999,47.160000,44.930000,47.099998,47.099998,36642700,45.270000,45.310001,47.869999
2020-03-03,47.369999,47.990002,45.150002,45.660000,45.660000,48595300,47.099998,45.270000,45.310001
2020-03-04,46.639999,46.750000,45.669998,46.740002,46.740002,24484500,45.660000,47.099998,45.270000
2020-03-05,45.400002,45.610001,44.279999,45.029999,45.029999,29387300,46.740002,45.660000,47.099998
2020-03-06,43.500000,43.889999,41.860001,42.500000,42.500000,61517400,45.029999,46.740002,45.660000
2020-03-09,35.070000,36.430000,33.730000,33.939999,33.939999,66556900,42.500000,45.029999,46.740002
2020-03-10,36.669998,36.820000,33.360001,35.549999,35.549999,48431100,33.939999,42.500000,45.029999
2020-03-11,34.450001,35.049999,33.130001,33.669998,33.669998,43477300,35.549999,33.939999,42.500000
2020-03-12,31.190001,32.000000,29.379999,29.469999,29.469999,38829100,33.669998,35.549999,33.939999
2020-03-13,31.959999,32.220001,28.799999,32.189999,32.189999,34098400,29.469999,33.669998,35.549999
2020-03-16,27.950001,31.120001,27.670000,27.809999,27.809999,40233600,32.189999,29.469999,33.669998
2020-03-17,28.080000,29.180000,26.950001,28.000000,28.000000,45443600,27.809999,32.189999,29.469999
2020-03-18,26.040001,26.580000,22.879999,23.980000,23.980000,52135800,28.000000,27.809999,32.189999
2020-03-19,24.330000,25.709999,22.980000,25.610001,25.610001,52226500,23.980000,28.000000,27.809999
2020-03-20,26.260000,26.840000,24.760000,25.860001,25.860001,58313200,25.610001,23.980000,28.000000

In [4]:
pd.read_csv("./data/SnP_500.csv", index_col="Date").head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,1116.560059,1133.869995,1116.560059,1132.989990,1132.989990,3991400000
2010-01-05,1132.660034,1136.630005,1129.660034,1136.520020,1136.520020,2491020000
2010-01-06,1135.709961,1139.189941,1133.949951,1137.140015,1137.140015,4972660000
2010-01-07,1136.270020,1142.459961,1131.319946,1141.689941,1141.689941,5270680000
2010-01-08,1140.520020,1145.390015,1136.219971,1144.979980,1144.979980,4389590000

In [5]:
data_prep.get_perc_return("./data/SnP_500.csv", column_name="Open")

            Date  %_returns
0     2010-01-04        NaN
1     2010-01-05   0.014419
2     2010-01-06   0.002693
3     2010-01-07   0.000493
4     2010-01-08   0.003740
5     2010-01-11   0.004770
6     2010-01-12  -0.001876
7     2010-01-13  -0.005683
8     2010-01-14   0.007359
9     2010-01-15   0.001781
10    2010-01-19  -0.010185
11    2010-01-20   0.010493
12    2010-01-21  -0.008075
13    2010-01-22  -0.020366
14    2010-01-25  -0.020699
15    2010-01-26   0.003112
16    2010-01-27  -0.003523
17    2010-01-28   0.004570
18    2010-01-29  -0.008497
19    2010-02-01  -0.012615
20    2010-02-02   0.015048
21    2010-02-03   0.009743
22    2010-02-04  -0.003107
23    2010-02-05  -0.030194
24    2010-02-08   0.001306
25    2010-02-09  -0.005115
26    2010-02-10   0.009075
27    2010-02-11  -0.002412
28    2010-02-12   0.008293
29    2010-02-16   0.002956
...          ...        ...
2550  2020-02-21  -0.005902
2551  2020-02-24  -0.030617
2552  2020-02-25  -0.005731
2553  2020-02-26  -0.030578
2554  2020-02-27  -0.024638
2555  2020-02-28  -0.047555
2556  2020-03-02   0.019672
2557  2020-03-03   0.041079
2558  2020-03-04  -0.016377
2559  2020-03-05   0.009833
2560  2020-03-06  -0.039503
2561  2020-03-09  -0.030570
2562  2020-03-10  -0.017602
2563  2020-03-11   0.004308
2564  2020-03-12  -0.068920
2565  2020-03-13  -0.023137
2566  2020-03-16  -0.023891
2567  2020-03-17  -0.033058
2568  2020-03-18   0.004469
2569  2020-03-19  -0.017656
2570  2020-03-20   0.016069
2571  2020-03-23  -0.058073
2572  2020-03-24   0.023456
2573  2020-03-25   0.048340
2574  2020-03-26   0.017707
2575  2020-03-27   0.021821
2576  2020-03-30   0.001217
2577  2020-03-31   0.021770
2578  2020-04-01  -0.044598
2579  2020-04-02  -0.015828

[2580 rows x 2 columns]